@font-face {
    font-family: "Raleway-Black";
    src: url(fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway-Italic";
    src: url(fonts/Raleway-Italic.ttf);
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(fonts/Raleway-Regular.ttf);
}